@{
    var isAuthenticated = User.Identity.IsAuthenticated || (!string.IsNullOrEmpty(Context.Session.GetString("Email")) && Context.Session.GetInt32("RoleId") == 4);
}


<div class="container-fluid">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Article University</span>
        </a>

        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
        </div>

        <ul class="nav nav-pills">
            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        </ul>

        @if (!isAuthenticated)
        {
            <div class="col-md-3 text-end">
                <a class="dropdown-item d-flex align-items-center py-2" asp-area="" asp-controller="Logins" asp-action="Login">Login</a>
            </div>
        }

        @if (isAuthenticated)
        {
            <div class="col-md-3 text-end">
                <a class="dropdown-toggle d-flex align-items-center user-settings" href="#!" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    @if (!string.IsNullOrEmpty(Context.Session.GetString("UserName")))
                    {
                        <span class="d-none d-md-block">Hi, @Context.Session.GetString("UserName")</span>
                    }
                    else if (!User.Identity.IsAuthenticated)
                    {
                        <span class="d-none d-md-block">Hi, @User.Identity.Name</span>
                    }
                    <img src="~/img/user3.png" class="img-3x m-2 me-0 rounded-5" style="max-width: 40px;" alt="Bootstrap Gallery" />
                </a>
                <div class="dropdown-menu dropdown-menu dropdown-menu-sm shadow-sm gap-3" style="">
                    <a class="dropdown-item d-flex align-items-center py-2" href="agent-profile.html">
                        <i class="bi bi-person-vcard" style="margin-right: 10px"></i>User Profile
                    </a>
                    <a class="dropdown-item d-flex align-items-center py-2" href="account-settings.html">
                        <i class="bi bi-gear" style="margin-right: 10px"></i>Account
                        Settings
                    </a>
                    <a class="dropdown-item d-flex align-items-center py-2" asp-area="" asp-controller="Logins" asp-action="Logout">
                        <i class="bi bi-box-arrow-right" style="margin-right: 10px"></i>Logout
                    </a>
                </div>
            </div>
        }
    </header>
</div>

<nav class="navbar navbar-expand-md bg-info mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" aria-current="page">Academic Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse show" id="navbarCollapse" style="">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-newspaper"></i> Article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="ArticlesFaculty" asp-action="index"><i class="fa-solid fa-list-check"></i> Faculty</a>
                 </li>
                @if (isAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Articles" asp-action="index"><i class="fa-solid fa-list-check"></i>Article Management</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa-regular fa-address-book"></i> Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="HelpSupport" asp-action="Index">
                        <i class="bi bi-people-fill" style="margin-right: 10px"></i>Help And Support
                    </a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
