@{
    ViewData["Title"] = "Submit HelpSupport";
}

    <div class="container">
        <div class="confirmation-message">
            <h1>Thank You!!</h1>
            <p class="lead" style="font-weight:bold">Your message has been successfully submitted. We will get back to you shortly^^</p>
        </div>
    </div>

