    <!-- Footer Start -->
    <nav class="navbar navbar-light bg-light">
        <div class="container">
           <div>
               <h2>
                    <a class="navbar-brand" style="color:#ffff">Follow Contoso 👌👌</a>
               </h2>
           </div>
           
            @* <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> *@
        </div>
    </nav>
    <footer class="page-footer">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-lg-3 py-3">
                    <h3>Uni<span class="text-primary">Learn</span></h3>
                    <p><a href="#">All retail products</a></p>

                    <p><a href="#">Home</a></p>
                    <p><a href="#">Commercial</a></p>
                </div>
                <div class="col-lg-3 py-3">
                    <h5>Contoso Store</h5>
                    <ul class="footer-menu">
                        <li><a href="#">View account</a></li>
                        <li><a href="#">Order tracking</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Sales & Support</a></li>
                       
                    </ul>
                </div>
                <div class="col-lg-3 py-3">
                    <h5>Download</h5>
                    <ul class="footer-menu">
                        <li><a href="#">Product manuals</a></li>
                        <li><a href="#">White papers</a></li>
                        <li><a href="#">Contoso Apps</a></li
                    </ul>
                </div>
                <div class="col-lg-3 py-3">
                    <h5>Company</h5>
                    <ul class="footer-menu">
                        <li><a href="#">Careers at Contoso</a></li>
                        <li><a href="#">About Contoso</a></li>
                        <li><a href="#">Site map</a></li
                    </ul>
                </div>

               @*  <div class="col-lg-3 py-3">
                    <h5>Subscribe</h5>
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Enter your mail..">
                    </form>

                    <div class="sosmed-button mt-4">
                        <a href="#"><span class="mai-logo-facebook-f"></span></a>
                        <a href="#"><span class="mai-logo-twitter"></span></a>
                        <a href="#"><span class="mai-logo-google"></span></a>
                        <a href="#"><span class="mai-logo-linkedin"></span></a>
                    </div>
                </div> *@
            </div>

            <div class="row minh_rowFooter">
                <div class="col-sm-6 py-2">
                    <p id="copyright">&copy; 2024 <a href="https://macodeid.com/">FlashTeam</a>. All rights reserved</p>
                </div>
                <div class="col-sm-6 py-2 text-right minh_rowFooterEnd">
                    
                    <div class="d-inline-block px-3">
                        <a href="#">Contact Us</a>
                    </div>
                    <div class="d-inline-block px-3">
                        <a href="#">Privacy & cookies</a>
                    </div>
                    <div class="d-inline-block px-3">
                        <a href="#">Terms of use</a>
                    </div>
                    <div class="d-inline-block px-3">
                        <a href="#">2016 Contoso</a>
                    </div>
                </div>
            </div>
        </div> 
    </footer> 
    <!-- Footer End -->