@model Bina.Models.ArticlesDeadline

@{
    ViewData["Title"] = "Create";
}



<h1>Create Deadline</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="TermName" class="control-label">Term Name</label>
                <input asp-for="TermName" class="form-control" required />
                <span asp-validation-for="TermName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TermTitle" class="control-label">Term Title</label>
                <input asp-for="TermTitle" class="form-control" required />
                <span asp-validation-for="TermTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacultyId" class="control-label">Faculty</label>
                <select asp-for="FacultyId" class="form-control" asp-items="@ViewBag.FacultyId" required>
                    <option value="">-- Select Faculty --</option>
                </select>
                <span asp-validation-for="FacultyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDue" class="control-label">Start Due</label>
                <input asp-for="StartDue" class="form-control" required />
                <span asp-validation-for="StartDue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label">Due Date</label>
                <input asp-for="DueDate" class="form-control" required />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcademicYear" class="control-label">Academic Year</label>
                <input asp-for="AcademicYear" class="form-control" required />
                <span asp-validation-for="AcademicYear" class="text-danger"></span>
            </div>


            </br>
            <div class="form-group d-flex">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
