@model Bina.Models.User

<div class="container my-5">
    <h1 class="text-center mb-4">Change Password</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <div class="col-md-8 offset-md-2">
                            <form asp-action="ChangePassword">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="UserId" />
                                <div class="form-group">
                                    <label asp-for="OldPassword" class="control-label">Old Password</label>
                                    <input asp-for="OldPassword" class="form-control" type="password" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                </div>
                                <br />

                                <div class="form-group">
                                    <label asp-for="NewPassword" class="control-label">New Password</label>
                                    <input asp-for="NewPassword" class="form-control" type="password" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <br />

                                <div class="form-group">
                                    <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" class="form-control" type="password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <br />

                                <div class="form-group">
                                    <input type="submit" value="Change Password" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
