<div class="container mt-5">
    <h2 class="text-center">Biểu Đồ Hình Tròn Của Số Lượng Trái Cây</h2>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <canvas id="myPieChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>