﻿@{
    ViewData["Title"] = "Dashboard";
}



<div class="container mt-5" id="MinhHomePage">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Analysis Table</h2>
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="vertical-center">Faculty Name</th>
                        <th class="vertical-center">Faculty Information Technology</th>
                        <th class="vertical-center">Faculty Business Administration</th>
                        <th class="vertical-center"> Faculty Social Science</th>
                        <th class="vertical-center"> Faculty Graph Design</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Unpublished submissions</td>
                        <td>5</td>
                        <td>6</td>
                        <td>9</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>The submissions are published</td>
                        <td>4</td>
                        <td>7</td>
                        <td>1</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>
                            Total number of papers
                            submitted
                        </td>
                        <td>5</td>
                        <td>6</td>
                        <td>3</td>
                        <td>9</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center">Chart analyzing the number of Articles in each Faculty</h2>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <canvas id="myPieChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>