
<!-- App header starts -->
<div class="app-header d-flex align-items-center">

    <!-- Container starts -->
    <div class="container">

        <!-- Row starts -->
        <div class="row">
            <div class="col-md-3 col-2">

                <!-- App brand starts -->
                <div class="app-brand">
                    <a class="d-lg-block d-none" asp-area="Giám đốc" asp-controller="Home" asp-action="Index">
                        <img src="~/img/logo.svg" class="logo" alt="Bootstrap Gallery" />
                    </a>
                    <a class="d-lg-none d-md-block" asp-area="Manager" asp-controller="Home" asp-action="Index">
                        <img src="~/img/logo-sm.svg" class="logo" alt="Bootstrap Gallery" />
                    </a>
                </div>
                <!-- App brand ends -->

            </div>

            <div class="col-md-9 col-10">
                <!-- App header actions start -->
                <div class="header-actions d-flex align-items-center justify-content-end">
                    <div class="dropdown ms-2">

                        <a class="dropdown-toggle d-flex align-items-center user-settings" href="#!" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            @if (!string.IsNullOrEmpty(Context.Session.GetString("UserName")))
                            {
                                <span class="d-none d-md-block">Hello, @Context.Session.GetString("UserName")</span>
                            }
                            else if (!User.Identity.IsAuthenticated)
                            {
                                <span class="d-none d-md-block">Hello, @User.Identity.Name</span>
                            }
                            <img src="~/img/user3.png" class="img-3x m-2 me-0 rounded-5" alt="Bootstrap Gallery" />
                        </a>

                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm shadow-sm gap-3" style="">
                            <a class="dropdown-item d-flex align-items-center py-2" href="agent-profile.html">
                                <i class="bi bi-person-vcard" style="margin-right: 10px"></i>User Profile
                            </a>
                            <a class="dropdown-item d-flex align-items-center py-2" href="account-settings.html">
                                <i class="bi bi-gear" style="margin-right: 10px"></i>Account
                                Settings
                            </a>
                            <a class="dropdown-item d-flex align-items-center py-2" asp-area="" asp-controller="Logins" asp-action="Logout">
                                <i class="bi bi-box-arrow-right" style="margin-right: 10px"></i>Logout
                            </a>
                        </div>
                    </div>

                    <!-- Toggle Menu starts -->
                    <button class="btn btn-success btn-sm ms-3 d-lg-none d-md-block" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#MobileMenu">
                        <i class="bi bi-list"></i>
                    </button>
                    <!-- Toggle Menu ends -->

                </div>
                <!-- App header actions end -->

            </div>
        </div>
        <!-- Row ends -->

    </div>
    <!-- Container ends -->

</div>
<!-- App header ends -->
<!-- App navbar starts -->
<nav class="navbar navbar-expand-lg p-0">
    <div class="container">
        <div class="offcanvas offcanvas-end" id="MobileMenu">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title semibold">Navigation</h5>
                <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="offcanvas">
                    <i class="icon-clear"></i>
                </button>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item  active-link">
                    <a class="nav-link" role="button" asp-area="Manager" asp-controller="Home" asp-action="Index"
                       aria-expanded="false">
                        <i class="bi bi-house-door" style="margin-right: 10px"></i>
                        Dashboards
                    </a>
                    @*   <ul class="dropdown-menu">
                    <li>
                    <a class="dropdown-item current-page" asp-area="" asp-controller="Home" asp-action="Index">Analytics</a>
                    </li>
                    <li>
                    <a class="dropdown-item" href="#">
                    <span>Reports</span>
                    </a>
                    </li>
                    </ul> *@
                </li>

                <li class="nav-item">
                    @* <a class="nav-link" href="#"><i class="bi bi-book" style="margin-right: 10px"></i> Article Management </a> *@
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Manager" asp-controller="Faculty" asp-action="Index">
                        <i class="bi bi-people-fill" style="margin-right: 10px"></i>Faculty Management
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Manager" asp-controller="Users" asp-action="Index">
                        <i class="bi bi-people-fill" style="margin-right: 10px"></i>User Management
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-sliders" style="margin-right: 10px"></i> System configuration </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-journal-bookmark" style="margin-right: 10px"></i> System log </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="Manager" asp-controller="HelpSupport" asp-action="Index"> Help and Support </a>
                </li>

                @* <partial name="_LoginPartial" /> *@

            </ul>
        </div>
    </div>
</nav>
<!-- App Navbar ends -->