@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p> this page is talking about.</p>

<div style="text-align:center">
    <p>
        Oficially established on September 8, 2006 according to the Prime Minister's Decision, FPT University became.
        the first university in Vietnam establishedl by a business with 100% investment capital from the Group. FPT.


        The university magazine system serves as a dynamic platform fostering interaction between both managers and students, encapsulating the diverse facets of academic life and beyond. At its core, this system embodies a nexus where managerial oversight converges with student engagement, facilitating a rich exchange of ideas, perspectives, and information. Through its multifaceted interface, managers navigate the intricate landscape of content curation, ensuring a balance of relevance, diversity, and resonance within the university community. Meanwhile, students are empowered with avenues for expression, exploration, and collaboration, contributing to the vibrant tapestry of campus discourse. With its user-friendly design and comprehensive features, the university magazine system stands as a testament to the institution's commitment to fostering a cult.

        The school is currently training groups in IT, Economics, Languages, and Applied arts
    </p>
</div>
