@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<p> this page is talking about.</p>

<div style="text-align:center">
    <p>
        Oficially established on September 8, 2006 according to the Prime Minister's Decision, FPT University became.
        the first university in Vietnam establishedl by a business with 100% investment capital from the Group. FPT.

        The difference of FPT University compared to other universities is that training is closely linkedl with businesses,
        combining training with practice, with research - implementation and the most modern technologies. . Modern
        educational philosophy and methods; Training people comprehensively and harmoniously; The program is
        Isalways updated and complies with international technology standards; Pay special attention to foreign language.
        skils; Strengthening training in production organization processes, teamwork skills and other personal skills are
        points that will ensure graduates have the best job opportunities after graduation.

        The school is currently training groups in IT, Economics, Languages, and Applied arts
    </p>
</div>
