@{
    ViewData["Title"] = "Home Page";
}

<br />

@if (Context.User.Identity.IsAuthenticated)
{
    <br />
    <h3>Welcome @User.Identity.Name</h3>

    <br />
  
    }
<a asp-controller="Logins" asp-action="Logout">Logout</a>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
