/* _content/Bina/Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9gkqoy9hj3] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9gkqoy9hj3] {
  color: #0077cc;
}

.btn-primary[b-9gkqoy9hj3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9gkqoy9hj3], .nav-pills .show > .nav-link[b-9gkqoy9hj3] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9gkqoy9hj3] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9gkqoy9hj3] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9gkqoy9hj3] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9gkqoy9hj3] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9gkqoy9hj3] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Bina/Areas/Coordinator/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-aas50yb24m] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-aas50yb24m] {
  color: #0077cc;
}

.btn-primary[b-aas50yb24m] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-aas50yb24m], .nav-pills .show > .nav-link[b-aas50yb24m] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-aas50yb24m] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-aas50yb24m] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-aas50yb24m] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-aas50yb24m] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-aas50yb24m] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Bina/Areas/Manager/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-nl7qbthe0y] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-nl7qbthe0y] {
  color: #0077cc;
}

.btn-primary[b-nl7qbthe0y] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nl7qbthe0y], .nav-pills .show > .nav-link[b-nl7qbthe0y] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-nl7qbthe0y] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-nl7qbthe0y] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nl7qbthe0y] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nl7qbthe0y] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-nl7qbthe0y] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Bina/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-dk2mrf7v31] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-dk2mrf7v31] {
  color: #0077cc;
}

.btn-primary[b-dk2mrf7v31] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-dk2mrf7v31], .nav-pills .show > .nav-link[b-dk2mrf7v31] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-dk2mrf7v31] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-dk2mrf7v31] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-dk2mrf7v31] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-dk2mrf7v31] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-dk2mrf7v31] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
